:root {
  --ifm-color-primary: #e8620a;
  --ifm-color-primary-dark: #d0580a;
  --ifm-color-primary-darker: #c55309;
  --ifm-color-primary-darkest: #a24508;
  --ifm-color-primary-light: #f06d18;
  --ifm-color-primary-lighter: #f27828;
  --ifm-color-primary-lightest: #f49350;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #f27828;
  --ifm-color-primary-dark: #f06518;
  --ifm-color-primary-darker: #e8620a;
  --ifm-color-primary-darkest: #c55309;
  --ifm-color-primary-light: #f49350;
  --ifm-color-primary-lighter: #f6a060;
  --ifm-color-primary-lightest: #f9bc8c;
}
